.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin: auto;
}

.all-courses, .selected-courses {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    overflow: scroll;
}

ul {
    list-style: none;
}

li {
    border: 1px black solid;
}