:root {
    --odd-color: white;
    --even-color: rgb(221,239,221);
    --selected-color: deepskyblue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 4rem auto;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.all-courses, .selected-courses {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 300px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px black solid;
}

.all-courses {
    margin-right: 5rem;
}

.selected-courses {
    margin-left: 0;
}

ul {
    list-style: none;
    text-align: center;
    font-size: 0.8rem;
}

.available {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.0rem;
}

.odd {
    border: 1px black solid;
    background-color: var(--odd-color);
}

.even {
    border: 1px black solid;
    background-color: var(--even-color);
}

.selected {
    background-color: var(--selected-color);
}

.selectButton {
    margin: 4rem auto;
    text-align: center;
}

button {
    display: inline-block;
    margin-left: 1rem;
    background-color: var(--selected-color);
    padding: 0.4rem;
    border-radius: 1rem;
}