.grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card {
    border: 4px solid lightgray;
    box-shadow: 4px 5px 5px lightgray;
    padding: 1rem 1rem 0 1rem;
}

.card:hover {
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px lightgray;
}

.card .world, .card .design {
    margin-bottom: 0.6rem;
}

.card .date {
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
}

.card a {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.world {
    color: var(--primary-color);
}

.design {
    color: var(--secondary-color);
}

.blog-template {
    margin-bottom: 1rem;
}